[submodule "components/dotties"]
	path = components/dotties
	url = git@github.com:blainesch/dotties.git
[submodule "components/dotties-javascript"]
	path = components/dotties-javascript
	url = git@github.com:blainesch/dotties-javascript.git
[submodule "components/dotties-mouse"]
	path = components/dotties-mouse
	url = git@github.com:blainesch/dotties-mouse.git
[submodule "components/dotties-pg"]
	path = components/dotties-pg
	url = git@github.com:blainesch/dotties-pg.git
[submodule "components/dotties-git"]
	path = components/dotties-git
	url = git@github.com:blainesch/dotties-git.git
